<article class="product" id="product-{{slug}}">
  <figure class="product__cover-photo">
    <a href="/products/{{slug}}">
      <img src="{{coverPhotoSrc}}" alt="Cover photo of {{name}} by {{author}}" height="{{heightPercentage height}}" width="{{widthPercentage width}}"/>
    </a>
  </figure>
  <!--
  <h1 class="product__name">
    <a href="/products/{{slug}}">{{name}}</a>
  </h1>
  <div class="product__author">{{author}}</div>
  -->
</article>
