<article id="product">
  <div class="product__header">
    <h1 class="product__name">{{product.name}}</h1>

    <div class="product__information">
      <div class="product__author">{{product.author}}</div>
      <div class="product__description">{{product.description}}</div>
      <div class="product__details">{{product.details}}</div>
      {{#if product.storeLink }}
        <div class="product__store-link">
          <a href="{{product.storeLink}}">View in store</a>
        </div>
      {{/if }}
    </div>
  </div>


  <div class="product__images">
    <figure class="product__slideshow-image">
      <img src="{{product.coverPhotoSrc}}" alt="Cover photo of {{product.name}} by {{product.author}}" height="{{heightPercentage product.height}}" width="{{widthPercentage product.width}}"/>
    </figure>
    {{#each product.images}}
      <figure class="product__slideshow-image">
        <img src="{{this}}" alt="A shot of {{../product.name}} by {{../product.author}}"/>
      </figure>
    {{/each}}
  </div>
</article>
