---
pageName: shop
---

<div class="product-page">
  <div class="product-page__overview">
		<div class="product-page__content">
			<h1 class="product-page__title">{{name}}</h1>
			<p class="product-page__author">{{formatAuthors authors}}</p>
			<p class="product-page__description">{{description}}</p>
			<p class="product-page__details">{{details}}</p>
			<div id="add-to-cart-link" data-slug="{{slug}}"></div>
		</div>
  </div>

	<div class="product-page__slideshow">
    {{> slideshow }}
  </div>
</div>
